
__pycache__/
*.py[cod]
*.so

.ipynb_checkpoints/
*.ipynb_checkpoints

*.csv
*.tsv
*.xls
*.xlsx
*.json
*.zip
*.gz
*.tar
*.h5
*.pkl
*.npz

*.pt
*.pth
*.joblib
*.sav

*.log
*.out
*.tmp
*.cache/
*.tensorboard/
*.mlruns/

.env
.env.*
.DS_Store

# 가상 환경
venv/
env/
*.egg-info/
pip-wheel-metadata/

.idea/
.vscode/


results/
outputs/
checkpoints/
runs/
